.gradient-text-button {
    left:95vw;
    font-size: 18px;
    font-family: 'MyCustomFont, sans-serif';
    padding: 10px 20px;
    border: none;
    background-color: #000; /* Button background color */
    cursor: pointer;
    color: transparent;
    background-image: linear-gradient(90deg, #646464, #ffffff, #b0b0b0, #646464);
    background-size: 1000%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    overflow: hidden;
    transition: background-position 0s;
    animation: gradientTextReverse .5s linear forwards; /* Reverse animation when not hovered */
    z-index: 100;
  }
  
  .gradient-text-button:hover {
    animation: gradientTextMove .5s linear forwards;
  }
  
  @keyframes gradientTextMove {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 75%;
    }
  }

  @keyframes gradientTextReverse {
    0% {
      background-position: 75%;
    }
    100% {
      background-position: 100%;
    }
  }

  @font-face {
    font-family: 'MyCustomFont';
    src: url('../public/MonospaceTypewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }